{% extends "base.html" %}

{% load static %}


{% block extra_css %}
 <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}



{% block content %}
<div class="container pt-6 pb-2">
 <div class="overlay"></div>
  <div class="row">
    <div class="col-md-6">
        <h1>Thank you for your order!</h1>
      <p>Your order number is <strong>{{ order.order_number }}</strong>.</p>
      <p>We have emailed you a confirmation of your order on <strong>{{ order.email }}</strong>.</p>
      <p>Your order will be shipped to the following address:</p>
    
      {{ order.address_line_1 }}<br>
      {{ order.address_line_2 }}<br>
      {{ order.town_or_city }}<br>
      {{ order.postcode }}<br>
      {{ order.country }}<br>

    </div>
  </div>
    
</div>

{% endblock %}

 